cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
coverage==4.5.1
Django==1.9
djangorestframework==3.6.4
get==1.0.3
google-api-python-client==1.7.3
google-auth==1.5.0
google-auth-httplib2==0.0.3
httplib2==0.11.3
idna==2.6
post==1.0.2
public==1.0.3
pyasn1==0.4.3
pyasn1-modules==0.2.1
pytz==2018.4
query-string==1.0.2
requests==2.18.4
rsa==3.4.2
selenium==3.12.0
six==1.11.0
uritemplate==3.0.0
urllib3==1.21.1
