<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maps & Addresses - {{ title}}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    {% load staticfiles %}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'addresses/css/style.css' %}" />

</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Maps & Addresses</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reset_map' %}">Reset</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}
        <hr>
        <h1>Maps & Addresses</h1>
        <hr>

        <!--The div element for the map -->
        <form id="add-address-form" method="POST">
            <div id="map" class="map">
            </div>
            {{ form.as_p }}
            {% csrf_token %}
        </form>

        <hr>
        <h2>Addresses of clicked locations</h2>
        <hr>

        {% if address_list %}
            {% for address in address_list %}
                {% if forloop.first %}<div class="row">{% endif %}
                    <div class="col-md-6">
                        <h5 class="">{{ address.location }}</h5>
                        <p>Coordinates: {{ address.lat }}, {{ address.lng }}</p>
                    </div>
                {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
            {% endfor %}
        {% endif %}
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Anna Makarudze {{ year }}</p>
                </div>
            </div>
        </footer>

        {% endblock %}

        {% block javascript %}
        <!-- Script for loading map -->
        <script>
            var map, infoWindow;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 2
                });
                var geocoder = new google.maps.Geocoder;
                infowindow = new google.maps.InfoWindow;

                // Add listener for mouse click event
                map.addListener("click", function (event) {
                    var pos = {
                                lat: event.latLng.lat(),
                                lng: event.latLng.lng()
                            };
                    geocodeLatLng(geocoder, map, infowindow, pos);
                }); //end addListener

                // Get markers for clicked locations from Google Fusion Tables
                var layer = new google.maps.FusionTablesLayer({
                    query: {
                    select: 'lat',
                    from: '1FM7o8dlxWT5BxBoK-UC0-h_oFCuuH9-3wcxh7KM6'
                    }
                });
                layer.setMap(map);
            }

            function geocodeLatLng(geocoder, map, infowindow, pos) {
                var latlng = {lat: pos.lat, lng: pos.lng};
                geocoder.geocode({'location': latlng}, function(results, status) {
                if (status === 'OK') {
                    if (results[0]) {
                        map.setZoom(2);
                        var location = results[0].formatted_address;
                        var lat = pos.lat;
                        var lng = pos.lng;

                        var postdata = [{
                                    "fields":
                                        {
                                            "location": location,
                                            "lat": lat,
                                            "lng": lng
                                        },
                                    "model": "addresses.address"
                                }];

                        var $endpoint = '/';
                        $.ajax({
                            method: "POST",
                            url: $endpoint,
                            data: JSON.stringify(postdata),
                            contentType: 'application/json',
                            success: handleSaveSuccess,
                            error: handleSaveError
                        });

                        function handleSaveSuccess(){
                            alert("Location saved to database and Google Fusion Tables.")
                            window.location.reload()
                        }

                        function handleSaveError(){
                            alert("Could not save location.");
                        }
                    }
                    else {
                        window.alert('No results found');
                        }
                    }
                    else {
                        window.alert('Geocoder failed due to: ' + status);
                    }
                });
            }
        </script>
        {% endblock javascript %}

    </div>

    <!-- jQuery scripts for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Custom script for CSRF -->
    <script src="{% static 'addresses/js/main.js' %}"></script>
    <!-- Required Google Maps API -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvIwQWL4W6RsdWgws0RhZrTA7ZVO4aR84&callback=initMap">
    </script>
</body>
</html>